.author-content {
	margin-left: 5%;
	margin-top: 9%
}

.author {
	padding: 15px;
	font-weight: bold;
}

.author .links {
	margin-top: -15px;
	float: left;
	margin-left: 5px;
}

.author .edit-link {
	padding: 10px;
}

.button {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	border-bottom: 1px solid #444;
	cursor: pointer;
	color: blue;
	margin-left: 10px;
	float: left;
	line-height: 20px;
}

.add-author {
	padding: 15px;
	font-weight: bold;
}

input {
	float: left;
}

.error {
	color: red;
	font-weight: bold;
	margin-left: 65px;
}

.error-add {
	color: red;
	font-weight: bold;
	margin-left: 140px;
}