.main{
	
}

.header{
	border: 2px solid;
}

.header-content{
	margin-left: 10px;
}

.body{
	margin-top: -2px;
	border: 2px solid;
	
}


.body .body-content{
	height:  600px;
	margin:5px;
	border: 1px dotted;
}

.body .content{
	height:  600px;
	margin:5px;
	
}
.body .content .inner-data{
	position:relative;
	border: 1px dotted;
	float:left;
	width: 74%;
	height: 99.5%;
	margin-left: 8px
}

.body .content .menu{
	position:relative;
	float:left;
	background: #D3D3D3;
	width: 25%;
}
.body .content .menu .menu-content{
	background: white;
	margin-top:-16px;
	margin-left:16px;
	margin-right:16px;
	padding-left:10px;
}

.body .body-content .form{
	float:left;
	position:relative;
	margin-left:40%;
	margin-top:20%;
}
.body .body-content .form .field {
	clear:both; 
	text-align:right;
	line-height:25px;
}

.body .body-content .form .btn{
	float:right;
	margin-top:4px;
	width:90px;
	height: 30px;
}

label {
	float:left;
	padding-right:10px;
}

.header-content .languages{
	font-size: 12px;
	float:right;
	margin-top: -30px;
	margin-right: 10px;
}

.footer{
	margin-top: -2px;
	border: 2px solid;
}

.footer-content{
	text-align: center;
	font-size: small;
}

.logout{
	    float: right;

}

.hello{
	float: left;
    margin-right: 150px;
    margin-top: -10px;
}

.logout-btn{
	float: left;
    margin-left: 150px;
    margin-top: -20px;
}

html, body {height: 100%;}
