.pages-panel {
	background-color: F5F5F5;
	height: 80px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

.pages {
	
}

.current-page {
	background-color: black;
	color: white;
}

.news {
	
}

.button {
	float: left;
	padding: 4px;
}

.search-criteria {
	
}

.title {
	font-weight: bold;
	float: left;
	text-decoration: underline;
	width: 650px;
}

.author {
	
	float: left;
	padding-right: 30px;
}

.date {
	
}

.short-text{
	
}

.tags{
	display: inline-block;
	padding-right:20px;
	color: lightgray;
}

.comments{
	display: inline-block;
}

.edit{
	display: inline-block;
}

.single-news{
	margin-top: 30px;
}

.right-block{
	text-align: right;
}

.delete{
	float: right;
    margin-top: 40px;
    margin-right: 5px;
}

#checkboxes{
	margin-left: 138px;
    position: absolute;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    width: 115px;
    margin-top: 20px;
    
}

.checkbox{
	border-bottom: 1px solid;
}

.delete-btn{
	width: 90px;
    height: 30px;
}

.filter-form{
	float: left;
	padding-right: 5px;
    margin-left: 200px;
   
}

.reset-form{
	margin-top: 30px;
}

.message{
	color: red;
	font-weight: bold;
	margin-left: 380px;
}
