<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>News Managment</title>
</h:head>
<h:body>

<h:outputStylesheet library="css" name="layout.css"  />
<div class="main">
    <div class="header">
        <ui:insert name="header">
            <ui:include src="/WEB-INF/views/templates/header.xhtml" />
        </ui:insert>
    </div>

    <div class="body">
        <div class="content">
            <div class="menu">
                <div class = "menu-content">
                    <ui:insert name="menu">
                        <ui:include src="/WEB-INF/views/templates/menu.xhtml" />
                    </ui:insert>
                </div>
            </div>
            <div class="inner-data">
                <ui:insert name="body" />
            </div>
        </div>
    </div>
    <div class="footer">
        <ui:insert name="footer">
            <ui:include src="/WEB-INF/views/templates/footer.xhtml" />
        </ui:insert>
    </div>
</div>
</h:body>

</html>
