.add-content {
	margin: 30px;
	float: left;
}

label {
	float: left;
	font-weight: bold;
}

.field {
	clear: both;
	text-align: right;
	padding: 10px;
}

.data{
	width:600px;
}

#brief{
	height: 50px;
}

#content{
	height: 100px;
	margin-left: 100px;
}

.selects{
	float: left;
	margin-left:150px;
}

button{
	float:left;
	margin-top: 40px;
	width: 90px;
	height: 30px;
}

.multiselect {
    width:20em;
    height:15em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}

select{
	width: 180px;
}

#checkboxes{
	margin-left: 185px;
    position: absolute;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    width: 175px;
}

.checkbox{
	border-bottom: 1px solid;
}

.error-add{
	color: red;
	font-weight: bold;
}

