.tag-content {
	margin-left: 5%;
	margin-top: 9%
}

.tag {
	padding: 15px;
	font-weight: bold;
}

.add-tag {
	padding: 15px;
	font-weight: bold;
}

.tag .edit-link {
	padding: 10px;
}

.tag .links {
	margin-top: -18px;
	float: left;
	padding-left: 88px;
}

input {
	float: left;
}



.button {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	border-bottom: 1px solid #444;
	cursor: pointer;
	color: blue;
	margin-left: 10px;
	float: left;
}

.error {
	color: red;
	font-weight: bold;
	margin-left: 43px;
}

.error-add {
	color: red;
	font-weight: bold;
	margin-left: 75px;
}