<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Authors</title>
</h:head>
<h:outputStylesheet library="css" name="authors.css"  />
<ui:composition template="/WEB-INF/views/templates/layout.xhtml">
    <ui:define name="body">

        <div class="author-content">
            <ui:repeat var="authorList" value="#{authorBean.getAuthors()}">
                <li><h3>#{authorList.authorName}</h3></li>
            </ui:repeat>
        </div>

    </ui:define>
</ui:composition>

</html>


        <!--<h:head>
            <title>JSF Spring Integration</title>
        </h:head>
        <h:body>

            <h2>List</h2>
            <h:outputText value="#{authorBean.test()}"/>



            <ul>

                <ui:repeat var="authorList" value="#{authorBean.getAuthors()}">
                    <li><h3>#{authorList.authorName}</h3></li>
                </ui:repeat>

            </ul>
        </h:body>-->