<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Home</title>
</h:head>
<h:body>
<ui:composition template="/views/templates/layout.xhtml">
    <ui:define name="body">
        <p:layout>
            <h:form>

                <p:layoutUnit position="center">


                </p:layoutUnit>

            </h:form>
        </p:layout>
    </ui:define>
</ui:composition>

</h:body>
</html>
