<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:spring="http://www.springframework.org/tags"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<h:head></h:head>
<h:body>

<div class="layout-header-content">
    <h2>
        <h:outputText value="#{msg['header.label']}" />
    </h2>
    <div class = "languages">


            <h:form>

                <h:panelGrid columns="2">

                    <h:outputText value="#{msg['header.language']}" />
                    <h:selectOneMenu value="#{language.localeCode}" onchange="submit()"
                                     valueChangeListener="#{language.countryLocaleCodeChanged}">
                        <f:selectItems value="#{language.countriesInMap}" />
                    </h:selectOneMenu>

                </h:panelGrid>

            </h:form>



    </div>


</div>
</h:body>
</html>
