<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>News Managment</title>
</h:head>
<h:body>

    <h:outputStylesheet library="css" name="layout.css"/>
   <!-- <h:outputStylesheet library="css" name="newsList.css"/>div-->

    <div class="layout-main">
        <div class="layout-header">
            <ui:insert name="header">
                <ui:include src="/views/templates/header.xhtml"/>
            </ui:insert>
        </div>

        <div class="layout-body">
            <div class="layout-content">
                <div class="layout-menu">
                    <div class="layout-menu-content">
                        <ui:insert name="menu">
                            <ui:include src="/views/templates/menu.xhtml"/>
                        </ui:insert>
                    </div>
                </div>
                <div class="layout-inner-data">
                    <ui:insert name="body"/>
                </div>
            </div>
        </div>
        <div class="layout-footer">
            <ui:insert name="footer">
                <ui:include src="/views/templates/footer.xhtml"/>
            </ui:insert>
        </div>
    </div>
</h:body>

</html>
