<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head></h:head>
<h:body>
<p><h:graphicImage value="resources/images/arrow.png"/>  <h:link value="#{msg['menu.list']}" outcome="home" /></p>
<p><h:graphicImage value="resources/images/arrow.png"/>  <h:link value="#{msg['menu.addnews']}" outcome="addnews" /></p>
<p><h:graphicImage value="resources/images/arrow.png"/>  <h:link value="#{msg['menu.authors']}" outcome="authors" /></p>
<p><h:graphicImage value="resources/images/arrow.png"/>  <h:link value="#{msg['menu.tags']}" outcome="tags" /></p>
</h:body>
</html>
