<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Authors</title>
</h:head>
<h:body>
    <ui:composition template="/views/templates/layout.xhtml">
        <ui:define name="body">
            <p:layout>


                <p:layoutUnit position="center">

                    <h:form>
                        <ui:repeat var="authorList" value="#{authorBean.getAuthors()}">
                            <div id="div#{authorList.authorId}">
                                <h:panelGrid columns="3" cellpadding="5">
                                    <h:outputLabel for="author#{authorList.authorId}" value="#{msg['author.label']}"/>
                                    <p:inputText id="author#{authorList.authorId}" value="#{authorList.authorName}" readonly="true"/>
                                    <h:commandButton id = "link#{authorList.authorId}" value="edit" onclick="edit('j_idt45:j_idt46:1:author#{authorList.authorId}', 'div#{authorList.authorId}', 'j_idt45:j_idt46:1:link#{authorList.authorId}')"></h:commandButton>

                                </h:panelGrid>
                            </div>
                        </ui:repeat>
                    </h:form>

                    <h:form>
                        <h:outputLabel for="add" value="#{msg['author.add']}"/>
                        <p:inputText id="add" value="#{authorBean.newAuthorName}"/>
                        <h:commandButton value="save" action="#{authorBean.save()}"/>
                    </h:form>
                </p:layoutUnit>


            </p:layout>
        </ui:define>
    </ui:composition>
</h:body>
</html>
