<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Home</title>
</h:head>
<h:body>

    <ui:composition template="/views/templates/layout.xhtml">
        <ui:define name="body">
            <p:layout>
                <h:form>

                    <p:layoutUnit position="center">
                        <p:messages autoUpdate="true"/>
                        <h:panelGrid columns="2">
                            <p:outputLabel for="authors" value="#{msg['author.label']}"/>
                            <p:selectOneMenu id = "authors" value="#{newsBean.selectedAuthorId}">
                                <f:selectItem itemLabel="Authors" itemValue=""/>
                                <f:selectItems value="#{authorBean.authorList}" var="author"
                                               itemLabel="#{author.authorName}" itemValue="#{author.authorId}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>


                        <h:panelGrid columns="3" cellpadding="5">
                            <h:outputLabel for="tags" value="#{msg['home.tags']}" />
                            <p:selectCheckboxMenu id="tags" value="#{newsBean.selectedTagIdList}" label="#{msg['home.tags']}"
                                                  filter="true" filterMatchMode="startsWith" panelStyle="width:300px">
                                <div style = "">
                                   <f:selectItems value="#{tagBean.tagList}" var="tags"
                                               itemLabel="#{tags.tagName}" itemValue="#{tags.tagId}"/>
                                </div>
                            </p:selectCheckboxMenu>

                        </h:panelGrid>

                        <!--<p:commandButton value="Non-Ajax Submit" id="nonAjax" actionListener="" ajax="false" />-->

                        <ui:repeat var="newsList" value="#{newsBean.newsList}">
                            <p><h:inputText value= "#{newsList.id}"/></p>
                        </ui:repeat>

                    </p:layoutUnit>

                </h:form>
            </p:layout>
        </ui:define>
    </ui:composition>
</h:body>
</html>


